<div class="container ">
    <div class="row d-flex justify-content-center  ">
        <div class="col-4 ">

            <% if (typeof product_update  !== 'undefined' && product_update ) { %>
                <div class="toast show  top-0 z-3 m-0 position-fixed bg-success text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Login</strong>
                        <small>Just now</small>

                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <%= product_update  %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>