<% layout('layout/auth') -%>

<% include layout/toast_message/login_success_message %>




<% include layout/main_content%>


<h1 class="text-center">Welcome <%= admin.name %></h1>

<!--login success -->
<% include layout/toast_message/login_success_message.ejs%>





















