<% layout('layout/auth') -%>



<div class="container-fluid  h-100  ">
    <div class="row  h-100 d-flex justify-content-around align-items-center">
        <div class=" col-md-3  offset-7 ">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%= userdata.id %>" method="post" >
                        <h3 class="text-center mb-4 fw-bold">show user profile</h3>
                        <div class="mb-3">
                            <input type="text" name="name" id="name" class="form-control" placeholder="name" value="<%= userdata.name %>" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" name="mobileNo" id="mobileNo" class="form-control" placeholder="mobileNo" value="<%= userdata.mobileNo %>" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email" value="<%= userdata.email %>" required>
                        </div>

                        <div class="d-grid">
                            <input type="submit" value="update" class="btn btn-primary w-100">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>