<!--navbar-->
<nav class=" navbar  navbar-expand-lg navbar-expand-sm navbar-expand-md navbar-dark bg-light z-3  position-fixed top-0 w-100" style="height: 80px" >
    <!-- Sidebar button-->
    <button class="btn  fs-3 d-none d-md-block d-lg-none"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-layout-text-sidebar"></i></button>
    <!--    mobile screen sidebar-->

    <button class="btn  fs-3 d-md-none d-lg-none"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling1" aria-controls="offcanvasScrolling1"><i class="bi bi-layout-text-sidebar"></i></button>

    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 d-flex " href="#" style="color: blueviolet"><i class="bi bi-bag-check-fill fs-2 me-2"></i> <h1>ishop</h1></a>

    <button class="btn btn-secondary  py-1 py-sm-2 py-lg-2 ms-5" >Clear cache</button>

    <!-- Navbar-->
    <div class="collapse navbar-collapse d-flex justify-content-end me-3 me-sm-3 " id="navbarNavDropdown">
        <ul class="navbar-nav  gap-4 gap-sm-2 gap-md-4 ">
            <li class="nav-item dropdown fs-5 fs-sm-5 fs-md-5  d-sm-flex d-none d-lg-block d-md-block d-sm-block">
                <a class="nav-link dropdown-toggle text-dark  " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    English
                </a>
                <ul class="dropdown-menu fs-5 fs-sm-5 fs-md-5  ">
                    <li><a class="dropdown-item text-dark" href="#">Gujrati</a></li>
                    <li><a class="dropdown-item text-dark" href="#">Hindi</a></li>
                </ul>
            </li>

            <li class="nav-item ">
                <a class="nav-link active text-dark   fs-sm-5 fs-md-5  d-sm-flex d-none d-lg-block d-md-block d-sm-block" aria-current="page" href="#"><i class="bi bi-envelope me-2 me-sm-2 "></i><span>Message(0)</span></a>
            </li>
            <li class="nav-item text-dark ">
                <a class="nav-link text-dark  fs-sm-5 fs-md-5 fs-lg-4 d-sm-flex d-none d-lg-block d-md-block d-sm-block" href="#"><i class="bi bi-person-circle me-2 me-sm-2"></i><span>Profile</span></a>
            </li>
            <li class="nav-item text-dark ">
                <a class="nav-link text-dark   fs-sm-5 fs-md-5 fs-lg-4 d-sm-flex  d-none d-lg-block d-md-block d-sm-block" href="/logout"><i class="bi bi-box-arrow-right me-2  me-sm-2"></i><span>Logout</span></a>
            </li>
        </ul>
    </div>
</nav>
