
<!--   main content    -->
<div class="container-fluid ">
    <div class="row ">

        <!--  sidebar start  -->

                <% include /sidebar %>

        <!--  sidebar end  -->
        <!--   main content -->
        <div class="col-12 col-lg-10 offset-lg-2  " style="margin-top: 80px;">
            <div class="container-fluid ">

                <!-- start first row -->
                <div class="d-flex justify-content-between mt-3 ">
                    <h1 >order</h1>
                    <button class="btn btn-secondary  mt-1" style="height: 45px;"><span class="ms-1">All</span> <i class="bi bi-caret-down ms-1 me-1"></i></button>
                </div>
                <div class="row pt-3 pt-sm-3" >
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 pb-sm-4 pb-lg-0 pb-3" >
                        <div class="card rounded-4 " style="height: 150px;background-color: rgba(255,255,0,0.27)">
                            <div class="card-body " >
                                <div class=" d-flex  justify-content-between align-items-center " >
                                    <div class="ms-3">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Total products</span><br>
                                        <b class="fs-2 fs-md-3 fs-sm-2 fs-lg-2">53</b>
                                    </div>
                                    <i class="bi bi-border-all me-3" style="color: rgba(0,0,0,0.06);font-size: 70px;"  ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 pb-sm-4 pb-lg-0 pb-3" >
                        <div class="card  rounded-4" style="height: 150px;background-color: rgba(100,149,237,0.34)   ">
                            <div class="card-body">
                                <div class=" d-flex  justify-content-between align-items-center " >
                                    <div class="ms-3">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Total user</span><br>
                                        <b class=" fs-2 fs-md-3 fs-sm-2 fs-lg-2"><%= Totaluser %></b>
                                    </div>
                                    <i class="bi bi-person me-3" style="color: rgba(0,0,0,0.06);font-size: 70px;"  ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 pb-sm-4 pb-lg-0 pb-3" >
                        <div class=" card  rounded-4 " style="height: 150px;background-color: rgba(255,0,0,0.25)">
                            <div class="card-body">
                                <div class=" d-flex  justify-content-between align-items-center " >
                                    <div class="ms-2">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Total order</span><br>
                                        <b class="fs-2 fs-md-3 fs-sm-2 fs-lg-2">4816</b>
                                    </div>
                                    <i class="bi bi-bag-check-fill me-3" style="color: rgba(0,0,0,0.06);font-size: 70px;"  ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3  pb-lg-0  pb-sm-4" >
                        <div class=" card  rounded-4" style="height: 150px;background-color: rgba(65,105,225,0.31)">
                            <div class="card-body">
                                <div class=" d-flex  justify-content-between align-items-center " >
                                    <div class=" ms-2">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Total sells</span><br>
                                        <b class="fs-2 fs-md-3 fs-sm-2 fs-lg-2">$790,456.05</b>
                                    </div>
                                    <i class="bi bi-percent me-3" style="color: rgba(0,0,0,0.06);font-size: 70px;"  ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End first row -->

                <!-- start second row-->
                <div class="row pt-3 pt-sm-0 pt-lg-4" >
                    <div class="col-12  col-lg-12  pb-lg-0  pb-sm-0" >
                        <div class="card bg-light rounded-4 " style="height: 100px">
                            <div class="card-body">
                                <div class="   d-flex justify-content-between align-items-center  mt-2" >
                                    <span class="fs-3 ms-2">Order static</span>
                                    <button class="btn btn-secondary me-2 " style="height: 45px;"><span class="ms-1">All</span> <i class="bi bi-caret-down ms-1 me-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End second row-->

                <!--  start third row        -->
                <div class="row pt-3 pt-sm-4 pt-lg-4" >
                    <div class="col-12 col-md-6 col-lg-3  pb-sm-4 pb-md-4 pb-lg-0 pb-3 pb-md-2 " >
                        <div class="card rounded-4 bg-light" style="height: 150px;">
                            <div class="card-body" >
                                <div class=" d-flex justify-content-between align-items-center" >
                                    <div class="ms-2 mt-1">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Order cancel</span><br>
                                        <b class="fs-2 fs-md-2 fs-sm-2 fs-lg-2">289</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3  pb-sm-4 pb-md-4 pb-lg-0 pb-3 pb-md-2 " >
                        <div class="card rounded-4 bg-light" style="height: 150px;">
                            <div class="card-body" >
                                <div class=" d-flex justify-content-between align-items-center" >
                                    <div class="ms-2 mt-1">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Pending order</span><br>
                                        <b class="fs-2 fs-md-2 fs-sm-2 fs-lg-2">3842</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3  pb-sm-0 pb-md-0 pb-lg-0 pb-3 pb-md-0 " >
                        <div class="card rounded-4 bg-light" style="height: 150px;">
                            <div class="card-body" >
                                <div class=" d-flex justify-content-between align-items-center" >
                                    <div class="ms-2 mt-1">
                                        <span class="fs-3 fs-md-3 fs-lg-3">confirmed order</span><br>
                                        <b class="fs-2 fs-md-2 fs-sm-2 fs-lg-2">19</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3  pb-sm-0 pb-md-0 pb-lg-0  pb-md-2 " >
                        <div class="card rounded-4 bg-light" style="height: 150px;">
                            <div class="card-body" >
                                <div class=" d-flex justify-content-between align-items-center" >
                                    <div class="ms-2 mt-1">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Packege picked up</span><br>
                                        <b class="fs-2 fs-md-2 fs-sm-2 fs-lg-2">0</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End third row        -->

                <!--  start fourth row   -->
                <div class="row pt-3 ">
                    <div class="col-12 col-md-6 col-lg-6   pb-lg-0 pb-3 pb-sm-0" >
                        <div class="card rounded-4 bg-light" style="height: 150px;">
                            <div class="card-body" >
                                <div class=" d-flex justify-content-between align-items-center " >
                                    <div class="mt-2 ms-2">
                                        <span class="fs-3 fs-md-3 fs-lg-3">On the way</span><br>
                                        <b class="fs-2  fs-md-2 fs-sm-2 fs-lg-2">0</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6   pb-lg-0  pb-sm-0" >
                        <div class="card rounded-4 bg-light" style="height: 150px;">
                            <div class="card-body" >
                                <div class=" d-flex justify-content-between align-items-center " >
                                    <div class="mt-2 ms-2">
                                        <span class="fs-3 fs-md-3 fs-lg-3">Delivered</span><br>
                                        <b class="fs-2  fs-md-2 fs-sm-2 fs-lg-2">0</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End fourth row   -->

                <!--  start fifth row -->
                <div class="row pt-3 pt-sm-4 pt-lg-4">
                    <div class="col-12 col-md-6 col-lg-6  pb-lg-0 pb-3 pb-sm-0"   >
                        <div class="card rounded-4 bg-light">
                            <div class="card-body">
                                <div class=" " style="height: auto; ">
                                    <span class="fs-3">Top category</span><br>
                                    <div class="rounded-top overflow-hidden mb-4 mt-3 table-responsive">
                                        <table class="table w-100" >
                                            <thead >
                                            <tr  class="table-active table-primary rounded-top rounded-4 ">
                                                <th ><span class="ms-2">Title</span></th>
                                                <th ></th>
                                                <th >Sold</th>
                                                <th >Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-light">
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 pb-lg-0  pb-sm-0 "   >
                        <div class="card rounded-4 bg-light">
                            <div class="card-body">
                                <div class=" " style="height: auto; ">
                                    <span class="fs-3">Top category</span><br>
                                    <div class="rounded-top overflow-hidden mb-4 mt-3 table-responsive">
                                        <table class="table w-100" >
                                            <thead >
                                            <tr  class="table-active table-primary rounded-top rounded-4 ">
                                                <th ><span class="ms-2">Title</span></th>
                                                <th ></th>
                                                <th >Sold</th>
                                                <th >Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-light">
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td><i class="fa-brands fa-apple  ms-3 fs-2 py-1"></i> </td>
                                                <td><a class="text-decoration-underline text-dark fs-5">Women Apperel</a></td>
                                                <td class="pt-3 fs-5">2189</td>
                                                <td class="pt-3 fs-5">$45,008</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End fifth row -->

                <!--  sixth row   -->
                <div class="card rounded-4 mt-3 mt-sm-4 mt-lg-4 bg-light">
                    <div class="card-body ">
                        <div class="row ">
                            <div class="col-12 col-md-12 col-lg-12 pb-sm-4 " >
                                <div  style="height: auto;">
                                    <span class="fs-3">Top category</span><br>
                                    <div class=" rounded-top overflow-hidden mb-4 mt-3 table-responsive">
                                        <table class="table w-100 ">
                                            <thead >
                                            <tr  class="table-active table-primary rounded-top rounded-4 ">

                                                <th ><span class="ms-2 ">Title</span></th>
                                                <th  ></th>
                                                <th class="text-end" >Sold</th>
                                                <th class="text-end pe-3" >Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-light">
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-cc-apple-pay  ms-4 fs-2 py-1"></i> </td>
                                                <td  class="overflow-hidden"><a class="text-decoration-underline text-dark fs-5 overflow-hidden" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-apple  ms-4 fs-2 py-1"></i> </td>
                                                <td class="overflow-hidden" ><a class="text-decoration-underline text-dark fs-5 " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-cc-apple-pay  ms-4 fs-2 py-1"></i> </td>
                                                <td  class="overflow-hidden"><a class="text-decoration-underline text-dark fs-5 overflow-hidden" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-apple  ms-4 fs-2 py-1"></i> </td>
                                                <td class="overflow-hidden" ><a class="text-decoration-underline text-dark fs-5 " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-cc-apple-pay  ms-4 fs-2 py-1"></i> </td>
                                                <td  class="overflow-hidden"><a class="text-decoration-underline text-dark fs-5 overflow-hidden" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-apple  ms-4 fs-2 py-1"></i> </td>
                                                <td class="overflow-hidden" ><a class="text-decoration-underline text-dark fs-5 " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-cc-apple-pay  ms-4 fs-2 py-1"></i> </td>
                                                <td  class="overflow-hidden"><a class="text-decoration-underline text-dark fs-5 overflow-hidden" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-apple  ms-4 fs-2 py-1"></i> </td>
                                                <td class="overflow-hidden" ><a class="text-decoration-underline text-dark fs-5 " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-cc-apple-pay  ms-4 fs-2 py-1"></i> </td>
                                                <td  class="overflow-hidden"><a class="text-decoration-underline text-dark fs-5 overflow-hidden" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            <tr class="pt-5 ">
                                                <td  ><i class="fa-brands fa-apple  ms-4 fs-2 py-1"></i> </td>
                                                <td class="overflow-hidden" ><a class="text-decoration-underline text-dark fs-5 " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum error illo iure, mollitia obcaecati odio odit rerum sapiente? Nihil. </a></td>
                                                <td class="pt-3 fs-5  px-2 text-end"  >2189</td>
                                                <td class="pt-3 fs-5  px-2 text-end pe-3" >$45,008</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  end six row -->

            </div>
        </div>
    </div>
</div>

